<include file="Public/top" title = "里程密-添加邀请码" />
<!-- start left -->
<include file="Public/left"/>
<!-- end left -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>生成邀请码</h2>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <!-- <h5>All form elements <small>With custom checbox and radion elements.</small></h5> -->
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="hr-line-dashed"></div>
                    <form method="post" class="form-horizontal" action="{:U('Yaoqing/doProduction')}">
                        <div class="form-group has-success"><label class="col-sm-4 control-label">邀请码前缀（填写英文就好 如：XXS）</label>

                            <div class="col-sm-3"><input type="text" class="form-control" name="name" required></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-success"><label class="col-sm-4 control-label">生成数量（别生成太多，不然浏览器会死）</label>

                            <div class="col-sm-3"><input type="text" class="form-control" name="number" required></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="ibox-content">
                            <div class="text-center">
                                <input type="submit" value="添加" class="btn btn-primary" data-toggle="modal">
                            </div>

                        </div>
                    </form>
                </div>
            </div>

    </div>
</div>
<!-- start footer -->
<include file="Public/footer" />
<!-- end footer -->
</div>

