<!-- footer -->
        <div class="container">
        <div class="footer">
                <div class="footer-left">
                    <p>Copyright &copy; {$SiteInfo.title} {$SiteInfo.statistics}</p>
                </div>
                <div class="footer-right">
                    <ul>
                        <li><a href="http://www.lcm.wang/">里程密开源博客系统</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <script type="text/javascript">
                                    $(document).ready(function() {
                                        /*
                                        var defaults = {
                                            containerID: 'toTop', // fading element id
                                            containerHoverID: 'toTopHover', // fading element hover id
                                            scrollSpeed: 1200,
                                            easingType: 'linear'
                                        };
                                        */

                                        $().UItoTop({ easingType: 'easeOutQuart' });

                                    });
                                </script>
                                    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
        <!-- /footer -->
    <!-- /container -->
</body>
</html>
