<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>里程密在线升级</title>
    <link href="__PUBLIC__/Default/css/update.css" media="all" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Default/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <img class="img-responsive" src="__PUBLIC__/Default/img/header.jpg"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" id = "online">
                                        <h3>升级准备开始</h3>
                                    </td>
                                </tr>
                            </div>
                              </table>
                              <div class="progress progress-striped active">
                                <div style="width: 1%" class="progress-bar progress-bar-danger" id = "jindu">
                                </div>
                                </div>
                                当前进度:<span id = "jindus">1</span>%
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">作者：<a href="http://www.lcm.wang/">@里程密</a></td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>
<script src="__PUBLIC__/Default/js/jquery-2.1.1.js"></script>
<script>
	function zhuijia(content,jindu){
		$("#online").append("<h3>"+content+"</h3>");
		$("#jindu").css("width",jindu+"%");
		$("#jindus").text(jindu);
	}
</script>
</body>
</html>
