<include file="Public/top" title = "里程密-备份还原数据库" />
        <!-- start left -->
<include file="Public/left"/>
        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>备份还原数据库</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>爱我所选，选我所爱，爱里程密，爱生活！</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>数据库名称</th>
                        <th>备份时间</th>
                        <th>访问时间</th>
                        <th>修改时间</th>
                        <th>文件大小</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="list" item="vo" key="k">
                    <tr class="gradeU">
                        <td>{$k}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.ctime|date = "Y-m-d H:i:s",###}</td>
                        <td>{$vo.atime|date = "Y-m-d H:i:s",###}</td>
                        <td>{$vo.mtime|date = "Y-m-d H:i:s",###}</td>
                        <td>{$vo.size} KB</td>
                        <td>
                            <a href="{:U('Maintain/doreduction',array('name'=>$vo['name']))}" onclick="return shifou();"><button type="button" class="btn btn-w-m btn-info">还原</button></a>
                            <a href="{:U('Maintain/deldata',array('name'=>$vo['name']))}" onclick="return shifou();"><button type="button" class="btn btn-w-m btn-danger">删除</button></a>
                        </td>
                    </tr>
                    </foreach>
                    </tbody>

                    </table>
                    </div>
                    <!-- 备份开始 -->
                    <div class="ibox-content">
                        <div class="hr-line-dashed"></div>
                            <form method="post" class="form-horizontal" action="{:U('Maintain/dobackups')}" enctype="multipart/form-data">
                                <div class="form-group has-success">
                                    <center><h1>备份当前数据库</h1></center>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group has-success"><label class="col-sm-4 control-label">备注名称(不要写中文！)</label>

                                    <div class="col-sm-3"><input type="text" class="form-control" name="name" ></div>
                                </div>
                               <div class="ibox-content">
                            <div class="text-center">
                            <input type="submit" value="开始备份" class="btn btn-primary" data-toggle="modal">
                            </div>

                    </div>
                            </form>
                        </div>
                </div>
            </div>
            </div>

    <!-- start footer -->
                    <include file="Public/footer" />
            <!-- end footer -->
        </div>
