<!-- 调用头部文件 -->
<include file = "Public:homeheader" title = "{$SiteInfo.title}" />
<!-- 本页导航栏开始 -->
<!-- 本页导航栏结束 -->

<!-- 正文开始 -->
<div class="wrapper wrapper-content animated fadeInRight">
<if condition = "$SiteInfo.slides_display eq 0">
    <!-- 幻灯片开始 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>这里是一个幻灯片~</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content ">
                    <div class="carousel slide" id="carousel2">
                        <ol class="carousel-indicators">
                                <foreach name= "slidesLists" item = "vo" key = "k">
                                <if condition = "$k eq 0">
                                <li data-slide-to="{$k}" data-target="#carousel2" class="active"></li>
                                <else />
                            <li data-slide-to="{$k}" data-target="#carousel2" class=""></li>
                            </if>
                            </foreach>
                        </ol>
                        <div class="carousel-inner">
                            <foreach name = "slidesList" item = "vo" key = "k">
                            <if condition = "$k eq 0">
                            <div class="item active">
                            <else />
                            <div class="item">
                            </if>
                               <a href="{$vo.url}" target="_blank"><img alt="{$vo.title}" class="img-responsive" src="{$vo.pic}" style="width:100%;"></a>
                                <div class="carousel-caption">
                                    <p>{$vo.title}</p>
                                </div>
                            </div>
                            </foreach>
                        </div>
                        <a data-slide="prev" href="#carousel2" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#carousel2" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </if>
    <!-- 幻灯片结束 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="progress progress-striped active">
                <div class="progress progress-striped active">
                                <div style="width: 33%" class="progress-bar progress-bar-success">
                                    <span class="sr-only">33% Complete (success)</span>
                                </div>
                                <div style="width: 33%" class="progress-bar progress-bar-warning">
                                    <span class="sr-only">33% Complete (warning)</span>
                                </div>
                                <div style="width: 34%" class="progress-bar progress-bar-danger">
                                    <span class="sr-only">34% Complete (danger)</span>
                                </div>
                            </div>
            </div>
        </div>
    </div>
    <!-- 首页文章开始 -->
    <div class="row">
                <style>
                .button_link{display:inline-block;position:relative;text-decoration:none;font-size:15px;color:#33ab6a;font-weight:bold;width:100%;height:100%;border:2px solid rgba(225,255,255,.8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:0.4s;-o-transition:0.4s;transition:0.4s;}
                .button_link:hover{border:2px solid rgba(255,255,255,1);}
                .button_link .line{display:inline-block;background-color:#23C6C8 ;position:absolute;-webkit-transition:0.5s ease;-o-transition:0.5s ease;transition:0.5s ease;}
                .button_link .line_top{height:2px;width:0;left:-50%;top:-2px;}
                .button_link:hover .line_top{width:100%;left:-2px;}
                .button_link .line_right{height:0;width:2px;top:-50%;right:-2px;}
                .button_link:hover .line_right{height:100%;top:-2px;}
                .button_link .line_bottom{width:2px;height:0;bottom:-50%;left:-2px;}
                .button_link:hover .line_bottom{height:100%;bottom:-2px;}
                .button_link .line_left{height:2px;width:0;right:-50%;bottom:-2px;}
                .button_link:hover .line_left{width:100%;right:-2px;}
            </style>
        <div class="col-lg-12">
            <div class="ibox">
                <foreach name= "list" item = "vo">
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-lg-2">
                                <a href="{:U('Article/index',array('id'=>$vo['id']))}" class="button_link">
                                <img alt="image" class="img-responsive" src="{$vo.pic}" style="max-height:150px;min-height:120px;">
                                    <span class="line line_top"></span>
                                    <span class="line line_right"></span>
                                    <span class="line line_bottom"></span>
                                    <span class="line line_left"></span>
                                </a>
                            </div>
                            <div class="col-lg-10">
                                <a href="{:U('Article/index',array('id'=>$vo['id']))}" class="btn-link">
                                    <h2>
                                        {$vo.title|msubstr=0,25,'utf-8',false}
                                    </h2>
                                </a>
                                <p>{$vo.content|strip_tags|msubstr=0,160,'utf-8',true}</p>
                                <div class="row">
                                    <div class="col-md-10" >
                                        <span class="label label-primary" style="font-size:12px;">作者:{$vo.truename}</span>
                                        <span class="label label-info"   style="font-size:12px;">查看:{$vo.view}</span>
                                        <span class="label label-warning"   style="font-size:12px;">时间:{$vo.ctime|date = "Y-m-d",###}</span>

                                    </div>
                                    <div class="col-md-2" style="margin-top:10px;">
                                        <div class="small text-right">
                                            <a href="{:U('Article/index',array('id'=>$vo['id']))}"><button type="button" class="btn btn-w-m btn-danger">查看全文</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </foreach>
                {$page}
            </div>
        </div>
    <!-- 首页文章结束 -->
</div>
<!-- 正文结束 -->
</div>
<!-- 调用脚部文件 -->
<include file = "Public:homefooter"  />
<script>
    $('.carousel').carousel({
  interval: 2000
})
</script>
